.container-fourth-cineBeam{
  width: 100%;
  height: 100%;
  .main-fourth{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .main-colorful-links{
      display: flex;
      flex-wrap: wrap;
      width:50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: -175px;
      a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        width: 177px;
        height: 177px;
        p{
          font-family: 'Gotham Bold', sans-serif;
          font-size: 14px;
        }
        .icon-antenna{
          width: 56px;
          height: 39px;
          margin-bottom: 10px;
        }
        .icon-youtube{
          width: 56px;
          height: 39px;
        }
        .icon-gameBoy{
          width: 56px;
          height: 39px;
        }
        .icon-music{
          width: 56px;
          height: 39px;
        }

      }
      .green{
        background-color: #96BF4D;
      }
      .darkPurple{
        background-color: #9E1F63;
      }
      .orange{
        background-color: #F05A28;
      }
      .yellow{
        background-color: #D6DE23;
      }
      .salad{
        background-color: #29B473;
      }
      .blue{
        background-color: #1B75BB;
      }
      .purple{
        background-color: #EC297B;
      }
      .violet{
        background-color: #652D90;
      }
      .blackberry{
        background-color: #262261;
      }
      .lightBlue{
        background-color: #00A69C;
      }

    }
  }
}