*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-cineBeam{
  height: 100%;
  width: 100%;
}
.container-header-cineBeam{
  height: 100%;
  width: 100%;
  .main-header-cineBeam{
    display: flex;
    padding-top: 20px;
    background-image: url("../img/bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .header-cineBeam{
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      height: 100%;
      padding-top: 20px;
      width: 100%;
      .header-cineBeam-title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        h1{
          font-family: 'Gotham Bold', sans-serif;
          font-size: 60px;
          color: white;
        }
      }
      .header-cineBeam-info{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-basis: 10%;
        padding-bottom: 300px;

        h1{
          display: flex;
          background: linear-gradient(-55.43deg, #727476 0%, #fcfcfc 49%, #fff 68%, #fff 75%, #c8caca 89%, #9d9fa0 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 150px;
          padding-right: 25px;
        }
        p{
          font-family: 'Gotham Light', sans-serif;
          display: flex;
          flex-basis: 10%;
          font-size: 30px;
          line-height:45px;
          color: white;
          padding-top: 28px;
        }
      }
      .header-cineBeam-button{
        display: flex;
        justify-content: center;
        padding-top: 400px;
        padding-left: 200px;
        padding-bottom:50px;
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          border: 1px solid #ffffff;
          padding: 5px 15px 5px 15px;
          .icon-btn{
            width: 30px;
            height: 30px;
            fill: white;
            padding-top: 5px;

          }
          p{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 12px;
          }
        }
      }

    }
    .header-cineBeam-scroll{
      display: flex;
      flex-basis:45%;
      width: 100%;
      height: 80vh;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;
      .scroll-cineBeam{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100%;

        .outer {
          width: 1px;
          height: 70%;
          overflow: hidden;
          .inner {
            width:100%;
            height: 100%;
            background: gray;

          }
        }
        .scroll-downs {
          width :43px;
          height: 55px;
          padding-top: 40px;
          .mouse {
            width: 3px;
            padding: 10px 15px;
            height: 35px;
            border: 5px solid #fff;
            border-radius: 25px;
            opacity: 0.75;
            box-sizing: content-box;
          }
          .scroller {
            width: 4px;
            height: 10px;
            border-radius: 25%;
            background-color: #fff;
            animation-name: scroll;
            animation-duration: 2.2s;
            animation-timing-function: cubic-bezier(.15,.41,.69,.94);
            animation-iteration-count: infinite;
          }
          @keyframes scroll {
            0% { opacity: 0; }
            10% { transform: translateY(0); opacity: 1; }
            100% { transform: translateY(15px); opacity: 0;}
          }
        }
        .icon-arrows{
            width: 30px;
            padding-top: 100px;
          padding-left: 10px;
            fill: #ffffff;
        }
      }
    }
  }

}
@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-weight: normal;
  src: local('LG Smart'),local('LG Smart'), url('../fonts/Gotham-Light.otf') format('otf'),
  local('LG Smart'), url('../fonts/GothamLight.ttf') format('ttf');

}
@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: bold;
  src: local('LG Smart'),local('LG Smart'), url('../fonts/Gotham-Bold.otf') format('otf'),
  local('LG Smart'), url('../fonts/GothamBold.ttf') format('ttf');

}