@import "fonts";
.container-second-cineBeam{
  width: 100%;
  height: 100%;
  .main-second-cineBeam{
    background-image: url("../img/bg-3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
    .number-second-cineBeam{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 80%;
      padding-top: 10%;
      padding-right:2%;

    }
    .title-second-cineBeam{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      flex-direction: column;
      text-align: center;
      padding-top: 15%;
      h1{
        font-family: 'gothambold', sans-serif;
        font-size: 34px;
        line-height: 45px;
        color: white;
        span{
          display: inline-block;
          font-size: 80px;
          padding-top: 20px;
        }
      }
    }
    .button-second-cineBeam{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-top: 7%;
      padding-right: 4%;
    }
  }
}
@media only screen and (max-width: 767px){
  .container-cineBeam{
    .main-second-cineBeam {
      background-image: url("../img/bg3-mob.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      .number-second-cineBeam{
        padding: 47px 0 0 0;
        img{
          width: 68px;
          height: 53px;
        }
      }
      .title-second-cineBeam{
        padding: 165px 0 89px 0;
        h1{
          font-family: 'gothambold', sans-serif;
          font-size: 15px;
          line-height: 20px;
          span{
            font-family: 'gothamthin',sans-serif;
            font-size: 34px;
          }
        }
      }
      .button-second-cineBeam{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 13px 0;
      }
    }

  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
  .container-cineBeam{
    .main-second-cineBeam {
      background-image: url("../img/bg3-pad.png") ;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      .number-second-cineBeam{
        width: 100%;
        padding: 13% 10% 0 0;
        img{
          width: 143px;
          height: 113px;
        }
      }
      .title-second-cineBeam{
        padding: 40% 0 7% 5%;
        h1{
          font-family: 'gothambold', sans-serif;
          font-size: 35px;
          line-height: 45px;
          span{
            font-size: 82px;
          }
        }
      }
      .button-second-cineBeam{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 0 10% 20%;
      }
    }

  }
}