.container-second-cineBeam{
  width: 100%;
  height: 100%;
  .main-second-cineBeam{
    background-image: url("../img/bg-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .number-second-cineBeam{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 90%;
      padding-top: 400px;
      padding-right:80px;

    }
    .title-second-cineBeam{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      text-align: center;
      padding-top: 650px;
      padding-left: 300px;
      h1{
        font-family: 'Gotham Bold', sans-serif;
        font-size: 34px;
        line-height: 45px;
        color: white;
        span{
          display: inline-block;
          font-size: 80px;
          padding-top: 20px;
        }
      }
    }
    .button-second-cineBeam{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-top: 500px;
      padding-right: 78px;
    }
  }
}
@media only screen and (max-width: 480px){
  .container-cineBeam{
    .main-second-cineBeam {
      background-image: url("../img/bg3-mob.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      .number-second-cineBeam{
        padding: 47px 0 0 0;
        img{
          width: 68px;
          height: 53px;
        }
      }
      .title-second-cineBeam{
        padding: 165px 0 89px 0;
        h1{
          font-family: 'Gotham Bold', sans-serif;
          font-size: 15px;
          line-height: 20px;
          span{
            font-size: 34px;
          }
        }
      }
      .button-second-cineBeam{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 13px 0;
      }
    }

  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .container-cineBeam{
    .main-second-cineBeam {
      background-image: url("../img/bg3-pad.png") ;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      .number-second-cineBeam{
        padding: 145px 0 0 0;
        img{
          width: 143px;
          height: 113px;
        }
      }
      .title-second-cineBeam{
        padding: 369px 0 89px 60px;
        h1{
          font-family: 'Gotham Bold', sans-serif;
          font-size: 35px;
          line-height: 45px;
          span{
            font-size: 82px;
          }
        }
      }
      .button-second-cineBeam{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 0 70px 148px;
      }
    }

  }
}