.container-third-cineBeam{
  height: 100%;
  width: 100%;
  .main-third-cineBeam{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 30%;
    padding-bottom: 300px;
    .third-cineBeam-title{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 65px;
      h1{
        color: #231F20;
        font-size: 60px;
        font-family: 'Gotham Light', sans-serif;
        padding-bottom: 55px;
      }

    }
    .third-cineBeam-info{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      h1{
        font-size: 24px;
        font-family: 'Gotham Light', sans-serif;
        color: #231F20;
      }
    }
    .third-cineBeam-numbers{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 150px;
      padding-right: 450px;
    }
    .third-cineBeam-triangle{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: auto;
      background-image: url("../img/triangle.svg");
      background-repeat: no-repeat;
      background-size:280px 234px;
      background-position: 75% 60%;
      padding-top: 250px;
      padding-left: 150px;

      h1{
        display: block;
        font-size: 34px;
        font-family: 'Gotham Bold', sans-serif;
        font-weight: lighter;
        color: #231F20;
        padding-left: 370px;
        padding-bottom: 150px;
      }

    }
    .button-third-cineBeam{
      padding: 67px 0 0 0;
      a{
        border: 1px solid #000000;
      }
      .icon-btn{
        fill: black!important;
      }
      p{
        color: black;
      }
    }
  }
}
@media only screen and (max-width: 480px){
  .container-cineBeam{
    .main-third-cineBeam{
      background-image: url("../img/bg4-mob.png") ;
      background-repeat: no-repeat;
      background-size:100% 100%;
      background-position: center;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 0;
      .third-cineBeam-title{
        h1{
          font-size: 25px;

        }
      }
      .third-cineBeam-info{
       display: none;
      }
      .third-cineBeam-numbers{
        padding: 0 100px 50px 0;
        img{
          width: 67px;
          height: 57px;
        }
      }
      .third-cineBeam-triangle{
        padding: 100px 0 40px 70px;
        background-size:133px 110px;
        h1{
          font-size: 15px;
          padding: 0 0 50px 40px;
        }
      }
      .button-third-cineBeam{
        padding:0 0 30px 0;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .container-cineBeam{
    .main-third-cineBeam{
      background-image: url("../img/bg4-pad.png") ;
      background-repeat: no-repeat;
      background-size:100% 100%;
      background-position: center;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 173px;
      .third-cineBeam-title{
        h1{
          font-size: 60px;

        }
      }
      .third-cineBeam-info{
        padding-bottom: 80px;
        h1{
          font-size: 24px;
          font-weight: lighter;
        }
      }
      .third-cineBeam-numbers{
        padding: 0 250px 170px 0 ;
        img{
          width: 144px;
          height:114px;
        }
      }
      .third-cineBeam-triangle{
        padding: 100px 0 50px 70px;
        background-size:283px 234px;
        h1{
          font-size: 35px;
          padding: 0 0 0 155px;
        }
      }
      .button-third-cineBeam{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:50px 0 30px 50px;
        a{
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
  }
}