.container-fourth-cineBeam
    .main-fourth
        .main-colorful-links
            a(href="#" class="green")
                svg(display='none')
                    symbol(id="antenna")
                        g(id='Слой_2', data-name='Слой 2')
                            g#Layer_1(data-name='Layer 1')
                                path.cls-1(d='M16.84.48a2,2,0,0,1,2.6,3L15,7.32a.5.5,0,0,0,.33.88h4.86a.5.5,0,0,0,.33-.12l7.29-6.27a2,2,0,1,1,2.6,3L27.55,7.32a.5.5,0,0,0,.32.88H32a.47.47,0,0,0,.32-.12L40.81.81a2,2,0,1,1,2.61,3L39.37,7.32a.5.5,0,0,0,.33.88H44a.5.5,0,0,0,.33-.12L52.8.81a2,2,0,1,1,2.6,3L39.26,17.73a2,2,0,0,1-2.6-3l3-2.62a.5.5,0,0,0-.32-.88H35.05a.5.5,0,0,0-.33.12l-7.45,6.41a2,2,0,0,1-2.6-3l3-2.62a.5.5,0,0,0-.32-.88H23.23a.5.5,0,0,0-.33.12l-8.61,7.41a2,2,0,0,1-2.61-3l4.21-3.62a.5.5,0,0,0-.33-.88H10.7a.5.5,0,0,0-.33.12L3.3,17.41a2,2,0,0,1-2.6-3ZM26.62,20.2a2.5,2.5,0,0,0-2.49,2.5v14a2.5,2.5,0,1,0,5,0v-14A2.5,2.5,0,0,0,26.62,20.2Z')
                svg(class="icon-antenna")
                    use(xlink:href="#antenna" viewBox="0 0 56.1 39.2")
                p В ЭФИРЕ
            a(href="#" class="darkPurple")
                p LG CINEMA
                    br
                    | ПРЕМЬЕРЫ
            a(href="#" class="orange")
                p ФИЛЬМЫ
            a(href="#" class="yellow")
                p 4К ВИДЕО
            a(href="#" class="salad")
                p СЕРИАЛЫ
            a(href="#" class="blue")
                p ТВ ОНЛАЙН
            a(href="#" class="purple")
                svg(display='none')
                    symbol(id="youtube")
                        g#Layer_1(data-name='Layer 1')
                            path.cls-1(d='M50.57,5.5H0V34.75A11.25,11.25,0,0,0,11.25,46H39.32A11.25,11.25,0,0,0,50.57,34.75ZM21.85,24.29a1.12,1.12,0,0,0-1.62,1V36.4a1.13,1.13,0,0,0,1.58,1l11.94-5.29a1.13,1.13,0,0,0,0-2Z')
                                path.cls-2(d='M32.59,7.75A6.74,6.74,0,1,1,25.85,1,6.75,6.75,0,0,1,32.59,7.75Z')
                                    path.cls-3(d='M3.37,7.75H47.2L45,13.38,47.2,19H3.37l2.25-5.62Z')
                                        path.cls-2(d='M32.59,20.13c0,1-.2,1.3-.3,1.4s-.29.22-.89.23a17,17,0,0,1-2.13-.21l-.2,0a23.5,23.5,0,0,0-3.22-.27,23.21,23.21,0,0,0-3.21.27l-.21,0a17,17,0,0,1-2.13.21c-.6,0-.8-.14-.89-.23s-.3-.43-.3-1.4a6.74,6.74,0,1,1,13.48,0Z')
                svg(class="icon-youtube")
                    use(xlink:href="#youtube" viewBox="0 0 50.57 46")
            a(href="#" class="violet")
                img(src="img/music.svg").icon-music
            a(href="#" class="blackberry")
                svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 53.94 38' class="icon-gameBoy")
                    defs
                        style.
                            .cls-1 {
                                fill: #fff;
                            }

                            .cls-2 {
                                fill: #262261;
                            }

                            .cls-3 {
                                fill: #9c7eba;
                            }
                    title Ресурс 6
                    g(id='Слой_2', data-name='Слой 2')
                        g#Layer_1(data-name='Layer 1')
                            rect.cls-1(width='53.94', height='38', rx='10')
                            circle.cls-2(cx='5.49', cy='8.5', r='2.5')
                            circle.cls-2(cx='5.49', cy='15.5', r='2.5')
                            circle.cls-2(cx='5.49', cy='22.5', r='2.5')
                            circle.cls-2(cx='5.49', cy='29.5', r='2.5')
                            circle.cls-2(cx='47.45', cy='8.5', r='2.5')
                            circle.cls-2(cx='47.45', cy='15.5', r='2.5')
                            circle.cls-2(cx='47.45', cy='22.5', r='2.5')
                            circle.cls-2(cx='47.45', cy='29.5', r='2.5')
                            rect.cls-2(x='10.99', y='4', width='29.97', height='30')
                            path.cls-1(d='M18,9a3,3,0,1,1-3,3A3,3,0,0,1,18,9Z')
                            path.cls-3(d='M11,26l5.49-3.5,6,3.5,10-10L41,22.5V34H11Z')

            a(href="#" class="lightBlue")
                p БРАУЗЕР