.container-fourth-cineBeam
    .main-fourth
        .main-colorful-links
            .river
                img(src="img/river.jpg")
            .main-fourth-links
                .main-fourth-firstRow
                    a(href="#" class="green")
                        svg(display='none')
                            symbol(id="antenna")
                                g(id='Слой_2', data-name='Слой 2')
                                    g#Layer_1(data-name='Layer 1')
                                        path.cls-1(d='M16.84.48a2,2,0,0,1,2.6,3L15,7.32a.5.5,0,0,0,.33.88h4.86a.5.5,0,0,0,.33-.12l7.29-6.27a2,2,0,1,1,2.6,3L27.55,7.32a.5.5,0,0,0,.32.88H32a.47.47,0,0,0,.32-.12L40.81.81a2,2,0,1,1,2.61,3L39.37,7.32a.5.5,0,0,0,.33.88H44a.5.5,0,0,0,.33-.12L52.8.81a2,2,0,1,1,2.6,3L39.26,17.73a2,2,0,0,1-2.6-3l3-2.62a.5.5,0,0,0-.32-.88H35.05a.5.5,0,0,0-.33.12l-7.45,6.41a2,2,0,0,1-2.6-3l3-2.62a.5.5,0,0,0-.32-.88H23.23a.5.5,0,0,0-.33.12l-8.61,7.41a2,2,0,0,1-2.61-3l4.21-3.62a.5.5,0,0,0-.33-.88H10.7a.5.5,0,0,0-.33.12L3.3,17.41a2,2,0,0,1-2.6-3ZM26.62,20.2a2.5,2.5,0,0,0-2.49,2.5v14a2.5,2.5,0,1,0,5,0v-14A2.5,2.5,0,0,0,26.62,20.2Z')
                        svg(class="icon-antenna")
                            use(xlink:href="#antenna" viewBox="0 0 56.1 39.2")
                        p В ЭФИРЕ
                    a(href="#" class="darkPurple")
                        p LG CINEMA
                            br
                            | ПРЕМЬЕРЫ
                    a(href="#" class="orange")
                        p ФИЛЬМЫ
                    a(href="#" class="yellow")
                        p 4К ВИДЕО
                    a(href="#" class="salad")
                        p СЕРИАЛЫ
                .main-fourth-secondRow
                    a(href="#" class="blue")
                        p ТВ ОНЛАЙН
                    a(href="#" class="purple")
                        img(src="img/youtube.svg").icon-youtube
                    a(href="#" class="violet")
                        img(src="img/music.svg").icon-music
                    a(href="#" class="blackberry")
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 53.94 38' class="icon-gameBoy")
                            defs
                                style.
                                    .cls-1 {
                                        fill: #fff;
                                    }

                                    .cls-2 {
                                        fill: #262261;
                                    }

                                    .cls-3 {
                                        fill: #9c7eba;
                                    }
                            title Ресурс 6
                            g(id='Слой_2', data-name='Слой 2')
                                g#Layer_1(data-name='Layer 1')
                                    rect.cls-1(width='53.94', height='38', rx='10')
                                    circle.cls-2(cx='5.49', cy='8.5', r='2.5')
                                    circle.cls-2(cx='5.49', cy='15.5', r='2.5')
                                    circle.cls-2(cx='5.49', cy='22.5', r='2.5')
                                    circle.cls-2(cx='5.49', cy='29.5', r='2.5')
                                    circle.cls-2(cx='47.45', cy='8.5', r='2.5')
                                    circle.cls-2(cx='47.45', cy='15.5', r='2.5')
                                    circle.cls-2(cx='47.45', cy='22.5', r='2.5')
                                    circle.cls-2(cx='47.45', cy='29.5', r='2.5')
                                    rect.cls-2(x='10.99', y='4', width='29.97', height='30')
                                    path.cls-1(d='M18,9a3,3,0,1,1-3,3A3,3,0,0,1,18,9Z')
                                    path.cls-3(d='M11,26l5.49-3.5,6,3.5,10-10L41,22.5V34H11Z')

                    a(href="#" class="lightBlue")
                        p БРАУЗЕР
        .main-fourth-info-laser
            h1 МОЩНЫЙ ЛАЗЕРНО-ФОСФОРНЫЙ
                br
                |ИСТОЧНИК СВЕТА ДАЕТ ЯРКОЕ ИЗОБРАЖЕНИЕ
                br
                |НА ПРОТЯЖЕНИИ 20 000 ЧАСОВ
        .main-fourth-info-hours
            .number-text
                img(src="img/number20.svg" class="hours-number")
                h1 ЧАСОВ РАБОТЫ
        .main-fourth-info-films
            .number-text
                img(src="img/number10.svg" class="hours-number")
                h1 ФИЛЬМОВ
                p ТО ЕСТЬ, ЕСЛИ ВЫ ИСПОЛЬЗУЕТЕ ПРОЕКТОР 8 ЧАСОВ В
                    br
                    |ДЕНЬ, ТО ИСТОЧНИК СВЕТА ПРОСЛУЖИТ 7 ЛЕТ
        .button-fourth-cineBeam.button
            a(href="#")
                svg(display='none')
                    symbol(id="icon-1")
                        g#Layer_1(data-name='Layer 1')
                            path.cls-1(d='M21.88,2.67a.37.37,0,0,0,.37-.37V.37A.37.37,0,0,0,21.88,0H.37A.38.38,0,0,0,0,.37V2.3a.38.38,0,0,0,.37.37h.7V14.24H.37a.38.38,0,0,0-.37.37v1.93a.38.38,0,0,0,.37.37H10.76v1.14l-4,4.13a.37.37,0,0,0,0,.52.37.37,0,0,0,.52,0l1.43-1.47h4.89L15,22.7a.37.37,0,0,0,.52,0,.37.37,0,0,0,0-.52l-4-4.13V16.91H21.88a.37.37,0,0,0,.37-.37V14.61a.37.37,0,0,0-.37-.37h-.7V2.67ZM1.81,14.24V2.67H20.45V14.24ZM.74,1.93V.74H21.51V1.93Z')
                svg(class="icon-btn")
                    use(xlink:href="#icon-1" viewBox="0 0 22.25 22.81")
                p ВЫБРАТЬ ПРОЕКТОР