.container-third-cineBeam
    .main-third-cineBeam
        .third-cineBeam-title
            h1 LG CineBeam
        .third-cineBeam-info
            h1 НАСЛАЖДАЙТЕСЬ ОПТИМИЗИРОВАННЫМ
                br
                | ИНТЕЛЛЕКТУАЛЬНЫМ ИНТЕРФЕЙСОМ ДЛЯ БОЛЬШОГО
                br
                | ЭКРАНА
        .third-cineBeam-numbers
            img(src="img/number03.svg")
        .third-cineBeam-triangle
            h1 УДОБНЫЙ
               br
               | ИНТЕРФЕЙC
        .button-third-cineBeam.button
            a(href="#")
                svg(display='none')
                    symbol(id="icon-1")
                        g#Layer_1(data-name='Layer 1')
                            path.cls-1(d='M21.88,2.67a.37.37,0,0,0,.37-.37V.37A.37.37,0,0,0,21.88,0H.37A.38.38,0,0,0,0,.37V2.3a.38.38,0,0,0,.37.37h.7V14.24H.37a.38.38,0,0,0-.37.37v1.93a.38.38,0,0,0,.37.37H10.76v1.14l-4,4.13a.37.37,0,0,0,0,.52.37.37,0,0,0,.52,0l1.43-1.47h4.89L15,22.7a.37.37,0,0,0,.52,0,.37.37,0,0,0,0-.52l-4-4.13V16.91H21.88a.37.37,0,0,0,.37-.37V14.61a.37.37,0,0,0-.37-.37h-.7V2.67ZM1.81,14.24V2.67H20.45V14.24ZM.74,1.93V.74H21.51V1.93Z')
                svg(class="icon-btn")
                    use(xlink:href="#icon-1" viewBox="0 0 22.25 22.81")
                p ВЫБРАТЬ ПРОЕКТОР
