.container-first-cineBeam {
  width: 100%;
  height: 100%; }
  .container-first-cineBeam .main-first {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .container-first-cineBeam .main-first .main-first-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 400px; }
      .container-first-cineBeam .main-first .main-first-title h1 {
        font-family: 'Gotham Light', sans-serif;
        font-weight: lighter;
        font-size: 24px;
        line-height: 30px;
        color: #000000; }
        .container-first-cineBeam .main-first .main-first-title h1 span {
          color: #D91C5C; }
    .container-first-cineBeam .main-first .main-first-button {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 400px 0 60px; }
      .container-first-cineBeam .main-first .main-first-button a {
        border: 1px solid #000000; }
      .container-first-cineBeam .main-first .main-first-button .icon-btn {
        fill: black; }
      .container-first-cineBeam .main-first .main-first-button p {
        color: black; }

.container-fourth-cineBeam {
  width: 100%;
  height: 100%; }
  .container-fourth-cineBeam .main-fourth {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .container-fourth-cineBeam .main-fourth .main-colorful-links {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: -175px; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links a {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        text-decoration: none;
        color: white;
        width: 177px;
        height: 177px; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links a p {
          font-family: 'Gotham Bold', sans-serif;
          font-size: 14px; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links a .icon-antenna {
          width: 56px;
          height: 39px;
          margin-bottom: 10px; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links a .icon-youtube {
          width: 56px;
          height: 39px; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links a .icon-gameBoy {
          width: 56px;
          height: 39px; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links a .icon-music {
          width: 56px;
          height: 39px; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .green {
        background-color: #96BF4D; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .darkPurple {
        background-color: #9E1F63; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .orange {
        background-color: #F05A28; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .yellow {
        background-color: #D6DE23; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .salad {
        background-color: #29B473; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .blue {
        background-color: #1B75BB; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .purple {
        background-color: #EC297B; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .violet {
        background-color: #652D90; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .blackberry {
        background-color: #262261; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .lightBlue {
        background-color: #00A69C; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container-cineBeam {
  height: 100%;
  width: 100%; }

.container-header-cineBeam {
  height: 100%;
  width: 100%; }
  .container-header-cineBeam .main-header-cineBeam {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-top: 20px;
    background-image: url("../img/bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .container-header-cineBeam .main-header-cineBeam .header-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-basis: 50%;
      flex-basis: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 100%;
      padding-top: 20px;
      width: 100%; }
      .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        padding-bottom: 50px; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-title h1 {
          font-family: 'Gotham Bold', sans-serif;
          font-size: 60px;
          color: white; }
      .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-flex-basis: 10%;
        flex-basis: 10%;
        padding-bottom: 300px; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info img {
          padding-right: 25px;
          padding-top: 70px; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info p {
          font-family: 'Gotham Light', sans-serif;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-basis: 10%;
          flex-basis: 10%;
          font-size: 30px;
          line-height: 45px;
          color: white;
          padding-top: 60px; }
    .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-basis: 45%;
      flex-basis: 45%;
      width: 100%;
      height: 80vh;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column; }
      .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: 100%; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .outer {
          width: 1px;
          height: 70%;
          overflow: hidden; }
          .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .outer .inner {
            width: 100%;
            height: 100%;
            background: gray; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .scroll-downs {
          width: 43px;
          height: 55px;
          padding-top: 40px; }
          .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .scroll-downs .mouse {
            width: 3px;
            padding: 10px 15px;
            height: 35px;
            border: 5px solid #fff;
            -webkit-border-radius: 25px;
            border-radius: 25px;
            opacity: 0.75;
            -webkit-box-sizing: content-box;
            box-sizing: content-box; }
          .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .scroll-downs .scroller {
            width: 4px;
            height: 10px;
            -webkit-border-radius: 25%;
            border-radius: 25%;
            background-color: #fff;
            -webkit-animation-name: scroll;
            animation-name: scroll;
            -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
            -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
            animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

@-webkit-keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0; } }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0; } }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .icon-arrows {
          width: 30px;
          padding-top: 100px;
          padding-left: 10px;
          fill: #ffffff; }

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 400px;
  padding-left: 200px;
  padding-bottom: 50px; }
  .button a {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 5px 15px 5px 15px; }
    .button a .icon-btn {
      width: 30px;
      height: 30px;
      fill: white;
      padding-top: 5px; }
    .button a p {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center;
      color: white;
      font-size: 12px; }

@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-weight: normal;
  src: local("LG Smart"), local("LG Smart"), url("../fonts/Gotham-Light.otf") format("otf"), local("LG Smart"), url("../fonts/GothamLight.ttf") format("ttf"); }

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: bold;
  src: local("LG Smart"), local("LG Smart"), url("../fonts/Gotham-Bold.otf") format("otf"), local("LG Smart"), url("../fonts/GothamBold.ttf") format("ttf"); }

.container-second-cineBeam {
  width: 100%;
  height: 100%; }
  .container-second-cineBeam .main-second-cineBeam {
    background-image: url("../img/bg-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .container-second-cineBeam .main-second-cineBeam .number-second-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      width: 90%;
      padding-top: 400px;
      padding-right: 80px; }
      .container-second-cineBeam .main-second-cineBeam .number-second-cineBeam h1 {
        font-family: 'Gotham Bold', sans-serif;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        background: linear-gradient(-55.43deg, #727476 0%, #fcfcfc 49%, #fff 68%, #fff 75%, #c8caca 89%, #9d9fa0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 150px; }
    .container-second-cineBeam .main-second-cineBeam .title-second-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      text-align: center;
      padding-top: 650px;
      padding-left: 300px; }
      .container-second-cineBeam .main-second-cineBeam .title-second-cineBeam h1 {
        font-family: 'Gotham Bold', sans-serif;
        font-size: 34px;
        line-height: 45px;
        color: white; }
        .container-second-cineBeam .main-second-cineBeam .title-second-cineBeam h1 span {
          display: inline-block;
          font-size: 80px;
          padding-top: 20px; }
    .container-second-cineBeam .main-second-cineBeam .button-second-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      padding-top: 500px;
      padding-right: 78px; }

.container-third-cineBeam {
  height: 100%;
  width: 100%; }
  .container-third-cineBeam .main-third-cineBeam {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 30%;
    padding-bottom: 100px; }
    .container-third-cineBeam .main-third-cineBeam .third-cineBeam-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding-top: 65px; }
      .container-third-cineBeam .main-third-cineBeam .third-cineBeam-title h1 {
        color: #231F20;
        font-size: 60px;
        font-family: 'Gotham Light', sans-serif;
        padding-bottom: 55px; }
    .container-third-cineBeam .main-third-cineBeam .third-cineBeam-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center; }
      .container-third-cineBeam .main-third-cineBeam .third-cineBeam-info h1 {
        font-size: 24px;
        font-family: 'Gotham Light', sans-serif;
        color: #231F20; }
    .container-third-cineBeam .main-third-cineBeam .third-cineBeam-numbers {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding-top: 60px;
      padding-right: 450px; }
    .container-third-cineBeam .main-third-cineBeam .third-cineBeam-triangle {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 50%;
      margin: auto;
      background-image: url("../img/triangle.svg");
      background-repeat: no-repeat;
      background-size: 280px 234px;
      background-position: 75% 60%;
      padding-top: 250px;
      padding-left: 150px; }
      .container-third-cineBeam .main-third-cineBeam .third-cineBeam-triangle h1 {
        display: block;
        font-size: 34px;
        font-family: 'Gotham Bold', sans-serif;
        font-weight: lighter;
        color: #231F20;
        padding-left: 370px;
        padding-bottom: 150px; }
    .container-third-cineBeam .main-third-cineBeam .button-third-cineBeam {
      padding: 67px 0 0 0; }
