@font-face {
  font-family: "Gotham Thin";
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot");
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/thin/gotham-thin-webfont.woff2") format("woff2"), url("../fonts/gotham/thin/gotham-thin-webfont.woff") format("woff"), url("../fonts/gotham/thin/gotham-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/gotham/light/gotham-light-webfont.eot");
  src: url("../fonts/gotham/light/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/light/gotham-light-webfont.woff2") format("woff2"), url("../fonts/gotham/light/gotham-light-webfont.woff") format("woff"), url("../fonts/gotham/light/gotham-light-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/gotham/book/gotham-book-webfont.eot");
  src: url("../fonts/gotham/book/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/book/gotham-book-webfont.woff2") format("woff2"), url("../fonts/gotham/book/gotham-book-webfont.woff") format("woff"), url("../fonts/gotham/book/gotham-book-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot");
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/bold/gotham-bold-webfont.woff2") format("woff2"), url("../fonts/gotham/bold/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham/bold/gotham-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.container-first-cineBeam {
  width: 100%;
  height: 100%; }
  .container-first-cineBeam .main-first {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%; }
    .container-first-cineBeam .main-first .main-first-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 400px; }
      .container-first-cineBeam .main-first .main-first-title h1 {
        font-family: 'gothambook', sans-serif;
        font-weight: lighter;
        font-size: 24px;
        line-height: 30px;
        color: #000000; }
        .container-first-cineBeam .main-first .main-first-title h1 span {
          color: #D91C5C; }
    .container-first-cineBeam .main-first .main-first-button {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 400px 0 60px; }
      .container-first-cineBeam .main-first .main-first-button a {
        border: 1px solid #000000; }
      .container-first-cineBeam .main-first .main-first-button .icon-btn {
        stroke: black; }
      .container-first-cineBeam .main-first .main-first-button p {
        font-family: 'gothambold', sans-serif;
        color: black; }

@media only screen and (max-width: 767px) {
  .container-cineBeam .main-first {
    background-image: url("../img/bg2-mob.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-left: 5px;
    padding-right: 5px; }
    .container-cineBeam .main-first .main-first-title {
      padding-top: 30px;
      padding-bottom: 315px; }
      .container-cineBeam .main-first .main-first-title h1 {
        font-size: 14px;
        line-height: 15px; }
    .container-cineBeam .main-first .main-first-button {
      padding: 0 0 13px 0; }
      .container-cineBeam .main-first .main-first-button a {
        border-color: white !important; }
      .container-cineBeam .main-first .main-first-button .icon-btn {
        stroke: white !important; }
      .container-cineBeam .main-first .main-first-button p {
        color: white !important; } }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .container-cineBeam .main-first {
    background-image: url("../img/bg2-pad.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-left: 5px;
    padding-right: 5px; }
    .container-cineBeam .main-first .main-first-title {
      padding-top: 30px;
      padding-bottom: 755px; }
      .container-cineBeam .main-first .main-first-title h1 {
        font-size: 24px;
        line-height: 35px; }
    .container-cineBeam .main-first .main-first-button {
      padding: 0 0 60px 0; } }

@font-face {
  font-family: "Gotham Thin";
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot");
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/thin/gotham-thin-webfont.woff2") format("woff2"), url("../fonts/gotham/thin/gotham-thin-webfont.woff") format("woff"), url("../fonts/gotham/thin/gotham-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/gotham/light/gotham-light-webfont.eot");
  src: url("../fonts/gotham/light/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/light/gotham-light-webfont.woff2") format("woff2"), url("../fonts/gotham/light/gotham-light-webfont.woff") format("woff"), url("../fonts/gotham/light/gotham-light-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/gotham/book/gotham-book-webfont.eot");
  src: url("../fonts/gotham/book/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/book/gotham-book-webfont.woff2") format("woff2"), url("../fonts/gotham/book/gotham-book-webfont.woff") format("woff"), url("../fonts/gotham/book/gotham-book-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot");
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/bold/gotham-bold-webfont.woff2") format("woff2"), url("../fonts/gotham/bold/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham/bold/gotham-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Gotham Thin";
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot");
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/thin/gotham-thin-webfont.woff2") format("woff2"), url("../fonts/gotham/thin/gotham-thin-webfont.woff") format("woff"), url("../fonts/gotham/thin/gotham-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/gotham/light/gotham-light-webfont.eot");
  src: url("../fonts/gotham/light/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/light/gotham-light-webfont.woff2") format("woff2"), url("../fonts/gotham/light/gotham-light-webfont.woff") format("woff"), url("../fonts/gotham/light/gotham-light-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/gotham/book/gotham-book-webfont.eot");
  src: url("../fonts/gotham/book/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/book/gotham-book-webfont.woff2") format("woff2"), url("../fonts/gotham/book/gotham-book-webfont.woff") format("woff"), url("../fonts/gotham/book/gotham-book-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot");
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/bold/gotham-bold-webfont.woff2") format("woff2"), url("../fonts/gotham/bold/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham/bold/gotham-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.container-fourth-cineBeam {
  width: 100%;
  height: 100%; }
  .container-fourth-cineBeam .main-fourth {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-5.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%; }
    .container-fourth-cineBeam .main-fourth .main-colorful-links {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      width: 100%;
      margin-top: -175px; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .river {
        display: none; }
      .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        width: 60%;
        margin-left: auto;
        margin-right: auto; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .main-fourth-firstRow {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .main-fourth-secondRow {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links a {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
          text-decoration: none;
          color: white;
          width: 177px;
          height: 177px;
          -webkit-transition: all .5s;
          transition: all .5s; }
          .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links a p {
            font-family: 'Gotham Bold', sans-serif;
            font-size: 14px; }
          .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links a .icon-antenna {
            width: 56px;
            height: 39px;
            margin-bottom: 10px; }
          .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links a .icon-youtube {
            width: 56px;
            height: 39px; }
          .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links a .icon-gameBoy {
            width: 56px;
            height: 39px; }
          .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links a .icon-music {
            width: 56px;
            height: 39px; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links a:hover {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
          -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2); }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .green {
          background-color: #96BF4D; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .darkPurple {
          background-color: #9E1F63; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .orange {
          background-color: #F05A28; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .yellow {
          background-color: #D6DE23; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .salad {
          background-color: #29B473; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .blue {
          background-color: #1B75BB; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .purple {
          background-color: #EC297B; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .violet {
          background-color: #652D90; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .blackberry {
          background-color: #262261; }
        .container-fourth-cineBeam .main-fourth .main-colorful-links .main-fourth-links .lightBlue {
          background-color: #00A69C; }
    .container-fourth-cineBeam .main-fourth .main-fourth-info-laser {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      margin: 0 auto;
      padding-top: 5%;
      padding-left: 30%; }
      .container-fourth-cineBeam .main-fourth .main-fourth-info-laser h1 {
        font-family: 'Gotham Light', sans-serif;
        font-weight: lighter;
        font-size: 20px;
        color: white; }
    .container-fourth-cineBeam .main-fourth .main-fourth-info-hours {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      margin: 0 auto;
      padding-top: 10%;
      padding-left: 35%; }
      .container-fourth-cineBeam .main-fourth .main-fourth-info-hours .number-text {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column; }
        .container-fourth-cineBeam .main-fourth .main-fourth-info-hours .number-text img {
          height: 140px; }
        .container-fourth-cineBeam .main-fourth .main-fourth-info-hours .number-text h1 {
          font-family: 'Gotham Bold', sans-serif;
          font-weight: lighter;
          font-size: 21px;
          color: white;
          padding-top: 30px; }
    .container-fourth-cineBeam .main-fourth .main-fourth-info-films {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      margin: 0 auto;
      padding-top: 5%;
      padding-right: 35%; }
      .container-fourth-cineBeam .main-fourth .main-fourth-info-films img {
        height: 140px; }
      .container-fourth-cineBeam .main-fourth .main-fourth-info-films h1 {
        font-family: 'Gotham Bold', sans-serif;
        font-weight: lighter;
        font-size: 21px;
        color: white;
        padding-top: 30px;
        padding-bottom: 20px; }
      .container-fourth-cineBeam .main-fourth .main-fourth-info-films p {
        font-family: 'Gotham Light', sans-serif;
        font-weight: lighter;
        font-size: 20px;
        color: white; }
    .container-fourth-cineBeam .main-fourth .button-fourth-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      padding-right: 75px;
      padding-top: 20%; }

@media only screen and (max-width: 767px) {
  .container-cineBeam .main-fourth {
    background-image: url("../img/bg5-mob.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-left: 25px;
    padding-right: 25px; }
    .container-cineBeam .main-fourth .main-colorful-links {
      display: none; }
    .container-cineBeam .main-fourth .main-fourth-info-laser {
      width: 100%;
      padding: 23px 0 15px 0; }
      .container-cineBeam .main-fourth .main-fourth-info-laser h1 {
        text-align: right;
        font-size: 10px; }
    .container-cineBeam .main-fourth .main-fourth-info-films {
      width: 100%;
      padding: 0 0 44px 0; }
      .container-cineBeam .main-fourth .main-fourth-info-films img {
        width: 161px;
        height: 44px; }
      .container-cineBeam .main-fourth .main-fourth-info-films h1 {
        font-size: 14px;
        padding: 2% 0 4% 0; }
      .container-cineBeam .main-fourth .main-fourth-info-films p {
        width: 100%;
        font-size: 8px;
        line-height: 13px;
        padding: 0; }
    .container-cineBeam .main-fourth .main-fourth-info-hours {
      width: 100%;
      padding: 0 0 15% 0; }
      .container-cineBeam .main-fourth .main-fourth-info-hours .number-text img {
        width: 161px;
        height: 44px; }
      .container-cineBeam .main-fourth .main-fourth-info-hours .number-text h1 {
        font-size: 14px;
        line-height: 30px;
        padding: 10px 0 0 0; }
    .container-cineBeam .main-fourth .button-fourth-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 0 0 13px 0; } }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .container-cineBeam .main-fourth {
    background-image: url("../img/bg5-pad.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 32%;
    padding-bottom: 68px; }
    .container-cineBeam .main-fourth .main-colorful-links {
      width: 648px;
      margin: -45% auto 0 auto;
      -webkit-transform: skewX(-10deg);
      transform: skewX(-10deg); }
      .container-cineBeam .main-fourth .main-colorful-links .river {
        display: block; }
        .container-cineBeam .main-fourth .main-colorful-links .river img {
          width: 177px;
          height: 259px; }
      .container-cineBeam .main-fourth .main-colorful-links .main-fourth-links {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 100%; }
        .container-cineBeam .main-fourth .main-colorful-links .main-fourth-links a {
          width: 100px;
          height: 129px; }
    .container-cineBeam .main-fourth .main-fourth-info-laser {
      width: 100%;
      padding: 15% 0 3% 0;
      text-align: left; }
      .container-cineBeam .main-fourth .main-fourth-info-laser h1 {
        display: inline-block;
        width: 40%;
        font-size: 16px; }
    .container-cineBeam .main-fourth .main-fourth-info-films {
      width: 83%;
      padding: 12% 0 20% 0; }
      .container-cineBeam .main-fourth .main-fourth-info-films img {
        width: 304px;
        height: 84px; }
      .container-cineBeam .main-fourth .main-fourth-info-films h1 {
        font-size: 21px;
        padding: 8px 0 12px 0; }
      .container-cineBeam .main-fourth .main-fourth-info-films p {
        width: 77%;
        font-size: 16px;
        line-height: 25px;
        padding: 0; }
    .container-cineBeam .main-fourth .main-fourth-info-hours {
      width: 90%;
      padding: 10% 3% 0 0; }
      .container-cineBeam .main-fourth .main-fourth-info-hours .number-text img {
        width: 304px;
        height: 84px; }
      .container-cineBeam .main-fourth .main-fourth-info-hours .number-text h1 {
        font-size: 21px;
        line-height: 30px;
        padding: 10px 0 0 0; }
    .container-cineBeam .main-fourth .button-fourth-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      padding: 0 0 13px 60px; }
      .container-cineBeam .main-fourth .button-fourth-cineBeam a {
        padding-left: 50px;
        padding-right: 50px; } }

@font-face {
  font-family: "Gotham Thin";
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot");
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/thin/gotham-thin-webfont.woff2") format("woff2"), url("../fonts/gotham/thin/gotham-thin-webfont.woff") format("woff"), url("../fonts/gotham/thin/gotham-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/gotham/light/gotham-light-webfont.eot");
  src: url("../fonts/gotham/light/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/light/gotham-light-webfont.woff2") format("woff2"), url("../fonts/gotham/light/gotham-light-webfont.woff") format("woff"), url("../fonts/gotham/light/gotham-light-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/gotham/book/gotham-book-webfont.eot");
  src: url("../fonts/gotham/book/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/book/gotham-book-webfont.woff2") format("woff2"), url("../fonts/gotham/book/gotham-book-webfont.woff") format("woff"), url("../fonts/gotham/book/gotham-book-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot");
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/bold/gotham-bold-webfont.woff2") format("woff2"), url("../fonts/gotham/bold/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham/bold/gotham-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container-cineBeam {
  height: 100%;
  width: 100%; }

.container-header-cineBeam {
  height: 100%;
  width: 100%; }
  .container-header-cineBeam .main-header-cineBeam {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-top: 3%;
    background-image: url("../img/bg-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%; }
    .container-header-cineBeam .main-header-cineBeam .header-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-basis: 50%;
      flex-basis: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 100%;
      padding-top: 5%;
      width: 100%; }
      .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-title h1 {
          font-family: 'gothambold', sans-serif;
          font-size: 60px;
          color: white; }
      .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-flex-basis: 10%;
        flex-basis: 10%;
        padding-bottom: 300px; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info img {
          padding-right: 2%;
          padding-top: 6%; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info p {
          font-family: 'gothamlight', sans-serif;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-basis: 10%;
          flex-basis: 10%;
          font-size: 30px;
          line-height: 45px;
          color: white;
          padding-top: 5%; }
    .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-basis: 45%;
      flex-basis: 45%;
      width: 100%;
      height: 80vh;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column; }
      .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: 100%;
        -webkit-animation: mover .8s infinite  alternate;
        animation: mover .8s infinite  alternate; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .outer {
          width: 1px;
          height: 70%;
          overflow: hidden; }
          .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .outer .inner {
            width: 100%;
            height: 100%;
            background: gray; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .scroll-downs {
          width: 43px;
          height: 55px;
          padding-top: 40px; }
          .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .scroll-downs .mouse {
            width: 3px;
            padding: 10px 15px;
            height: 35px;
            border: 5px solid #fff;
            -webkit-border-radius: 25px;
            border-radius: 25px;
            opacity: 0.75;
            -webkit-box-sizing: content-box;
            box-sizing: content-box; }
          .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .scroll-downs .scroller {
            width: 4px;
            height: 10px;
            -webkit-border-radius: 25%;
            border-radius: 25%;
            background-color: #fff;
            -webkit-animation-name: scroll;
            animation-name: scroll;
            -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
            -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
            animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

@-webkit-keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0; } }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0; } }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .icon-arrows {
          width: 30px;
          padding-top: 100px;
          padding-left: 10px;
          fill: #ffffff !important; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .cls-1:first-child {
          opacity: 0; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .cls-1:nth-child(2) {
          opacity: 0; }
        .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll .scroll-cineBeam .cls-1:last-child {
          opacity: 0; }

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 40%;
  padding-left: 20%;
  padding-bottom: 50px; }
  .button a {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 5px 15px 5px 15px; }
    .button a .icon-btn {
      width: 30px;
      height: 30px;
      fill: white;
      padding-top: 5px; }
    .button a p {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center;
      color: white;
      font-size: 12px; }

@media only screen and (max-width: 767px) {
  .container-cineBeam .container-header-cineBeam .main-header-cineBeam {
    background-image: url("../img/bg1-mob.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; }
    .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam {
      -webkit-flex-basis: 100%;
      flex-basis: 100%; }
      .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-title {
        padding-bottom: 30px; }
        .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-title h1 {
          padding: 0;
          font-size: 20px; }
      .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info {
        padding-bottom: 92%;
        padding-top: 5%; }
        .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info img {
          height: 53px;
          width: 56px;
          padding: 0; }
        .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info p {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-basis: 20px;
          flex-basis: 20px;
          padding-top: 0;
          padding-bottom: 10%;
          padding-left: 16px;
          font-size: 14px;
          line-height: 25px; }
    .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll {
      display: none; }
  .container-cineBeam .button {
    padding: 0 0 20px 0; } }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .container-cineBeam .container-header-cineBeam .main-header-cineBeam {
    background-image: url("../img/bg1-pad.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; }
    .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam {
      -webkit-flex-basis: 100%;
      flex-basis: 100%; }
      .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        padding-bottom: 10%; }
        .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-title h1 {
          padding: 0;
          font-size: 60px; }
      .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info {
        padding-bottom: 60%;
        padding-left: 7%; }
        .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info img {
          height: 114px;
          width: 120px;
          padding: 0; }
        .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam .header-cineBeam-info p {
          padding-top: 0;
          padding-left: 7%;
          padding-right: 17%;
          font-size: 27px;
          line-height: 35px; }
    .container-cineBeam .container-header-cineBeam .main-header-cineBeam .header-cineBeam-scroll {
      display: none; }
  .container-cineBeam .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 5% 20%; } }

@font-face {
  font-family: "Gotham Thin";
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot");
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/thin/gotham-thin-webfont.woff2") format("woff2"), url("../fonts/gotham/thin/gotham-thin-webfont.woff") format("woff"), url("../fonts/gotham/thin/gotham-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/gotham/light/gotham-light-webfont.eot");
  src: url("../fonts/gotham/light/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/light/gotham-light-webfont.woff2") format("woff2"), url("../fonts/gotham/light/gotham-light-webfont.woff") format("woff"), url("../fonts/gotham/light/gotham-light-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/gotham/book/gotham-book-webfont.eot");
  src: url("../fonts/gotham/book/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/book/gotham-book-webfont.woff2") format("woff2"), url("../fonts/gotham/book/gotham-book-webfont.woff") format("woff"), url("../fonts/gotham/book/gotham-book-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot");
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/bold/gotham-bold-webfont.woff2") format("woff2"), url("../fonts/gotham/bold/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham/bold/gotham-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.container-second-cineBeam {
  width: 100%;
  height: 100%; }
  .container-second-cineBeam .main-second-cineBeam {
    background-image: url("../img/bg-3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%; }
    .container-second-cineBeam .main-second-cineBeam .number-second-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      width: 80%;
      padding-top: 10%;
      padding-right: 2%; }
    .container-second-cineBeam .main-second-cineBeam .title-second-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 60%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      text-align: center;
      padding-top: 15%; }
      .container-second-cineBeam .main-second-cineBeam .title-second-cineBeam h1 {
        font-family: 'gothambold', sans-serif;
        font-size: 34px;
        line-height: 45px;
        color: white; }
        .container-second-cineBeam .main-second-cineBeam .title-second-cineBeam h1 span {
          display: inline-block;
          font-size: 80px;
          padding-top: 20px; }
    .container-second-cineBeam .main-second-cineBeam .button-second-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      padding-top: 7%;
      padding-right: 4%; }

@media only screen and (max-width: 767px) {
  .container-cineBeam .main-second-cineBeam {
    background-image: url("../img/bg3-mob.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; }
    .container-cineBeam .main-second-cineBeam .number-second-cineBeam {
      padding: 47px 0 0 0; }
      .container-cineBeam .main-second-cineBeam .number-second-cineBeam img {
        width: 68px;
        height: 53px; }
    .container-cineBeam .main-second-cineBeam .title-second-cineBeam {
      padding: 165px 0 89px 0; }
      .container-cineBeam .main-second-cineBeam .title-second-cineBeam h1 {
        font-family: 'gothambold', sans-serif;
        font-size: 15px;
        line-height: 20px; }
        .container-cineBeam .main-second-cineBeam .title-second-cineBeam h1 span {
          font-family: 'gothamthin',sans-serif;
          font-size: 34px; }
    .container-cineBeam .main-second-cineBeam .button-second-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 0 0 13px 0; } }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .container-cineBeam .main-second-cineBeam {
    background-image: url("../img/bg3-pad.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; }
    .container-cineBeam .main-second-cineBeam .number-second-cineBeam {
      width: 100%;
      padding: 13% 10% 0 0; }
      .container-cineBeam .main-second-cineBeam .number-second-cineBeam img {
        width: 143px;
        height: 113px; }
    .container-cineBeam .main-second-cineBeam .title-second-cineBeam {
      padding: 40% 0 7% 5%; }
      .container-cineBeam .main-second-cineBeam .title-second-cineBeam h1 {
        font-family: 'LG Smart', sans-serif;
        font-size: 35px;
        line-height: 45px; }
        .container-cineBeam .main-second-cineBeam .title-second-cineBeam h1 span {
          font-size: 82px; }
    .container-cineBeam .main-second-cineBeam .button-second-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      padding: 0 0 10% 20%; } }

@font-face {
  font-family: 'LG Smart';
  font-style: normal;
  font-weight: normal;
  src: local("LG Smart"), url("../fonts/LGSmartRegular__W.woff") format("woff"), local("LG Smart"), url("../fonts/LG Smart Regular.otf") format("otf"), local("LG Smart"), url("../fonts/LGSmartRegular__W.ttf") format("ttf"), local("LG Smart"), url("../fonts/LGSmartRegular__W.eot") format("eot"); }

@font-face {
  font-family: "Gotham Thin";
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot");
  src: url("../fonts/gotham/thin/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/thin/gotham-thin-webfont.woff2") format("woff2"), url("../fonts/gotham/thin/gotham-thin-webfont.woff") format("woff"), url("../fonts/gotham/thin/gotham-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/gotham/light/gotham-light-webfont.eot");
  src: url("../fonts/gotham/light/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/light/gotham-light-webfont.woff2") format("woff2"), url("../fonts/gotham/light/gotham-light-webfont.woff") format("woff"), url("../fonts/gotham/light/gotham-light-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/gotham/book/gotham-book-webfont.eot");
  src: url("../fonts/gotham/book/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/book/gotham-book-webfont.woff2") format("woff2"), url("../fonts/gotham/book/gotham-book-webfont.woff") format("woff"), url("../fonts/gotham/book/gotham-book-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot");
  src: url("../fonts/gotham/bold/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/bold/gotham-bold-webfont.woff2") format("woff2"), url("../fonts/gotham/bold/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham/bold/gotham-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.container-third-cineBeam {
  height: 100%;
  width: 100%; }
  .container-third-cineBeam .main-third-cineBeam {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 30%;
    padding-bottom: 23%; }
    .container-third-cineBeam .main-third-cineBeam .third-cineBeam-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding-top: 5%; }
      .container-third-cineBeam .main-third-cineBeam .third-cineBeam-title h1 {
        color: #231F20;
        font-size: 60px;
        font-family: 'gothamlight', sans-serif;
        padding-bottom: 4%; }
    .container-third-cineBeam .main-third-cineBeam .third-cineBeam-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center; }
      .container-third-cineBeam .main-third-cineBeam .third-cineBeam-info h1 {
        font-size: 24px;
        font-family: 'gothambook', sans-serif;
        color: #231F20; }
    .container-third-cineBeam .main-third-cineBeam .third-cineBeam-numbers {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding-top: 14%;
      padding-right: 35%; }
    .container-third-cineBeam .main-third-cineBeam .third-cineBeam-triangle {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 50%;
      margin: auto;
      background-image: url("../img/triangle.svg");
      background-repeat: no-repeat;
      background-size: 280px 234px;
      background-position: 75% 60%;
      padding-top: 14%;
      padding-left: 8%; }
      .container-third-cineBeam .main-third-cineBeam .third-cineBeam-triangle h1 {
        display: block;
        font-size: 34px;
        font-family: 'Gotham Bold', sans-serif;
        font-weight: lighter;
        color: #231F20;
        padding-left: 50%;
        padding-bottom: 20%; }
    .container-third-cineBeam .main-third-cineBeam .button-third-cineBeam {
      padding: 10% 0 0 0; }
      .container-third-cineBeam .main-third-cineBeam .button-third-cineBeam a {
        border: 1px solid #000000; }
        .container-third-cineBeam .main-third-cineBeam .button-third-cineBeam a .icon-btn {
          stroke: black; }
      .container-third-cineBeam .main-third-cineBeam .button-third-cineBeam p {
        color: black; }

@media only screen and (max-width: 767px) {
  .container-cineBeam .main-third-cineBeam {
    background-image: url("../img/bg4-mob.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0; }
    .container-cineBeam .main-third-cineBeam .third-cineBeam-title h1 {
      font-size: 25px; }
    .container-cineBeam .main-third-cineBeam .third-cineBeam-info {
      display: none; }
    .container-cineBeam .main-third-cineBeam .third-cineBeam-numbers {
      padding: 0 100px 50px 0; }
      .container-cineBeam .main-third-cineBeam .third-cineBeam-numbers img {
        width: 67px;
        height: 57px; }
    .container-cineBeam .main-third-cineBeam .third-cineBeam-triangle {
      padding: 100px 0 40px 70px;
      background-size: 133px 110px; }
      .container-cineBeam .main-third-cineBeam .third-cineBeam-triangle h1 {
        font-size: 15px;
        padding: 0 0 20px 40px; }
    .container-cineBeam .main-third-cineBeam .button-third-cineBeam {
      padding: 0 0 30px 0; } }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .container-cineBeam .main-third-cineBeam {
    background-image: url("../img/bg4-pad.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 173px; }
    .container-cineBeam .main-third-cineBeam .third-cineBeam-title h1 {
      font-size: 60px; }
    .container-cineBeam .main-third-cineBeam .third-cineBeam-info {
      padding-bottom: 10%; }
      .container-cineBeam .main-third-cineBeam .third-cineBeam-info h1 {
        font-size: 24px; }
    .container-cineBeam .main-third-cineBeam .third-cineBeam-numbers {
      padding: 15% 35% 0  0; }
      .container-cineBeam .main-third-cineBeam .third-cineBeam-numbers img {
        width: 144px;
        height: 114px; }
    .container-cineBeam .main-third-cineBeam .third-cineBeam-triangle {
      padding: 33% 0 20% 0;
      background-size: 283px 234px; }
      .container-cineBeam .main-third-cineBeam .third-cineBeam-triangle h1 {
        font-size: 35px;
        padding: 0 0 0 55%; }
    .container-cineBeam .main-third-cineBeam .button-third-cineBeam {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 50px 0 30px 50px; }
      .container-cineBeam .main-third-cineBeam .button-third-cineBeam a {
        padding-left: 50px;
        padding-right: 50px; } }
